html, body {
	margin: 0;
	background-image: url('../img/footer_lodyas.png');
	background-color: #363636;
}

.header, .footer {
	text-align: center;
	color: #bbbbbb;
	font-family: sans-serif;
	font-weight: bold;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.3), rgba(0, 0, 0, 0));
	position: absolute;
	left: 0px;
	right: 0px;
	text-transform: uppercase;
}

.header {
	top: 0px;
	font-size: 12px;
	padding: 8px;
}

.footer {
	bottom: 0px;
	font-size: 11px;
	padding: 7px;
}

.connected {
	color: green;
}

.disconnected {
	color: red;
}

.instrument.cam {
	border: 1px solid #666666;
	border-radius: 10px;
	background-image: url('../img/stardust.png');
}

.instrument.cam .box.camimg {
	height: 1000px !important;
	width: auto !important;
}

.instrument.cam .ball {
	opacity: 0.6;
}

.throttle {
}

#throttle-val {
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 5px 0;
}

#throttle-slider {
	height: 360px;
}

.throttle .progress {
	height: 395px;
	margin-top: auto;
	margin-bottom: auto;
}

.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  margin-right: 10px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
/*  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;*/
}

.progress-bar .notch {
	border-top: 3px solid black;
	opacity: 0.6;
	position: relative;
	bottom: 1px;
}